<form action="/new-car" method="post">
    <input type="text" name="make" placeholder="Make"> <br>
    <input type="text" name="model" placeholder="Model"> <br>
    <input type="number" name="year" placeholder="Year"> <br>
    <input type="submit" class="btn">
</form>